@use "abstracts" as tokens;
@use "tools";

:root {
  @include tools.emit-css-vars(tokens.$primitive-colors);
  @include tools.emit-css-vars(tokens.$primitive-foundations);
  @include tools.emit-css-vars(tokens.$semantic-light);
  @include tools.emit-css-vars(tokens.$component-tokens);
}

[data-dds-theme="light"] {
  @include tools.emit-css-vars(tokens.$semantic-light);
  @include tools.emit-css-vars(tokens.$component-tokens);

  color-scheme: light;
}

[data-dds-theme="dark"] {
  @include tools.emit-css-vars(tokens.$semantic-dark);
  @include tools.emit-css-vars(tokens.$component-tokens);

  color-scheme: dark;
}

[data-dds-theme="system"] {
  @include tools.emit-css-vars(tokens.$semantic-light);
  @include tools.emit-css-vars(tokens.$component-tokens);

  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  [data-dds-theme="system"] {
    @include tools.emit-css-vars(tokens.$semantic-dark);
    @include tools.emit-css-vars(tokens.$component-tokens);

    color-scheme: dark;
  }
}
