@layer components {
  .root {
    overflow: hidden;
    position: absolute;
    margin: -1px;
    padding: 0;
    block-size: 1px;
    inline-size: 1px;
    white-space: nowrap;
    clip-path: inset(50%);
  }
}
